html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(../img/main.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.height {
  min-height: 100vh;
}

.height2 {
  min-height: 70vh;
}

.nav-back {
  background-color: black;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.3s;
}

#particles-js {
  height: 100vh;
  position: relative;
  z-index: -1;
}

.title-underline {
  width: 160px;
  height: 6px;
  margin: 0 auto;
}

.typing {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.scrolldown {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: arrow 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes arrow {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

#about .card {
  background-color: black;
  box-shadow: 5px 5px 25px gray;
}

.github:hover {
  color: black !important;
}

.resume:hover {
  color: black !important;
}

#projects .jumbotron {
  background-color: black;
  box-shadow: 5px 5px 15px gray;
}

#contact .card {
  background-color: black;
  box-shadow: 5px 5px 15px gray;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#contact .card:hover {
  font-size: x-large;
}
